<ActionBar title="Collection Workshop" class="action-bar">
</ActionBar>
<StackLayout backgroundColor=#581845  >
    <CardView shadowColor="#FE00FC" elevation="20" id="container" row="1">
        <StackLayout>
            <TextField hint="Name" keyboardType="email" autocorrect="false" autocapitalizationType="none" returnKeyType="next" ></TextField>
            <TextField hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none" returnKeyType="next" ></TextField>
            <TextField hint="Address" keyboardType="email" autocorrect="false" autocapitalizationType="none" returnKeyType="next" ></TextField>
            <TextField hint="Password" secure="true" ></TextField>
            <TextField hint="Retype Password" secure="true" ></TextField>
             <GridLayout rows="*" columns="*,*,*,*">
            <Button text="Sign Up" rows="0" col="1" backgroundColor=green color=white></Button>
             <Button text="Login" rows="0" col="2" backgroundColor=#8151D6 color=white></Button>
             </GridLayout>
        </StackLayout>
    </CardView>
</StackLayout>
